@model SampleMvcApp.Models.TravelInfo

@{
    ViewBag.Title = "ViewLatest";
}

<h1>Details of the latest trip to @Model.Destination</h1>
<hr/>
<p>@Model.Details</p>
<br/>
&copy;Phaniraj B.N. 
<p>Powered by ASP.NET MVC</p>

